# This is a basic workflow to help you get started with Actions

name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:
env:
  # Setting an environment variable with the value of a configuration variable
  target_host: ${{ vars.TARGET_HOST }}

jobs:
  conditional_job:
  
    # The type of runner that the job will run on
    # if: ${{ vars.TARGET_HOST == 'postgrest-testb.agilebase.co.uk' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run a one-line script
        run: echo $target_host

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
